body {
  background: #717edd;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.n {
  -webkit-animation: nausea 2s infinite ease-in-out;
          animation: nausea 2s infinite ease-in-out;
  background: #7834af;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin: 9.375px;
  padding: 18.75px;
  width: 75px;
  height: 75px;
}

.n:nth-child(1) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.n:nth-child(2) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.n:nth-child(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.n:nth-child(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.n:nth-child(5) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.n:nth-child(6) {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.n:nth-child(7) {
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.n:nth-child(8) {
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
}

.n:nth-child(9) {
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}

.n:nth-child(10) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.n:nth-child(11) {
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
}

.n:nth-child(12) {
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}

.n:nth-child(13) {
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
}

.n:nth-child(14) {
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
}

.n:nth-child(15) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.n:nth-child(16) {
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
}

.n:nth-child(17) {
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
}

.n:nth-child(18) {
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
}

.n:nth-child(19) {
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
}

.n:nth-child(20) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.n:nth-child(21) {
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
}

.n:nth-child(22) {
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
}

.n:nth-child(23) {
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
}

.n:nth-child(24) {
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
}

.n:nth-child(25) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.n:nth-child(26) {
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
}

.n:nth-child(27) {
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
}

.n:nth-child(28) {
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
}

.n:nth-child(29) {
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
}

.n:nth-child(30) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.n:nth-child(31) {
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
}

.n:nth-child(32) {
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
}

.n:nth-child(33) {
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
}

.n:nth-child(34) {
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
}

.n:nth-child(35) {
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
}

.n:nth-child(36) {
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
}

.n:nth-child(37) {
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
}

.n:nth-child(38) {
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
}

.n:nth-child(39) {
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
}

.n:nth-child(40) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.n:nth-child(41) {
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
}

.n:nth-child(42) {
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
}

.n:nth-child(43) {
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
}

.n:nth-child(44) {
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
}

.n:nth-child(45) {
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
}

.n:nth-child(46) {
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
}

.n:nth-child(47) {
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
}

.n:nth-child(48) {
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
}

.n:nth-child(49) {
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
}

.n:nth-child(50) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.n:nth-child(51) {
  -webkit-animation-delay: -20.4s;
          animation-delay: -20.4s;
}

.n:nth-child(52) {
  -webkit-animation-delay: -20.8s;
          animation-delay: -20.8s;
}

.n:nth-child(53) {
  -webkit-animation-delay: -21.2s;
          animation-delay: -21.2s;
}

.n:nth-child(54) {
  -webkit-animation-delay: -21.6s;
          animation-delay: -21.6s;
}

.n:nth-child(55) {
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
}

.n:nth-child(56) {
  -webkit-animation-delay: -22.4s;
          animation-delay: -22.4s;
}

.n:nth-child(57) {
  -webkit-animation-delay: -22.8s;
          animation-delay: -22.8s;
}

.n:nth-child(58) {
  -webkit-animation-delay: -23.2s;
          animation-delay: -23.2s;
}

.n:nth-child(59) {
  -webkit-animation-delay: -23.6s;
          animation-delay: -23.6s;
}

.n:nth-child(60) {
  -webkit-animation-delay: -24s;
          animation-delay: -24s;
}

.n:nth-child(61) {
  -webkit-animation-delay: -24.4s;
          animation-delay: -24.4s;
}

.n:nth-child(62) {
  -webkit-animation-delay: -24.8s;
          animation-delay: -24.8s;
}

.n:nth-child(63) {
  -webkit-animation-delay: -25.2s;
          animation-delay: -25.2s;
}

.n:nth-child(64) {
  -webkit-animation-delay: -25.6s;
          animation-delay: -25.6s;
}

.n:nth-child(65) {
  -webkit-animation-delay: -26s;
          animation-delay: -26s;
}

.n:nth-child(66) {
  -webkit-animation-delay: -26.4s;
          animation-delay: -26.4s;
}

.n:nth-child(67) {
  -webkit-animation-delay: -26.8s;
          animation-delay: -26.8s;
}

.n:nth-child(68) {
  -webkit-animation-delay: -27.2s;
          animation-delay: -27.2s;
}

.n:nth-child(69) {
  -webkit-animation-delay: -27.6s;
          animation-delay: -27.6s;
}

.n:nth-child(70) {
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
}

.n:nth-child(71) {
  -webkit-animation-delay: -28.4s;
          animation-delay: -28.4s;
}

.n:nth-child(72) {
  -webkit-animation-delay: -28.8s;
          animation-delay: -28.8s;
}

.n:nth-child(73) {
  -webkit-animation-delay: -29.2s;
          animation-delay: -29.2s;
}

.n:nth-child(74) {
  -webkit-animation-delay: -29.6s;
          animation-delay: -29.6s;
}

.n:nth-child(75) {
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
}

.n:nth-child(76) {
  -webkit-animation-delay: -30.4s;
          animation-delay: -30.4s;
}

.n:nth-child(77) {
  -webkit-animation-delay: -30.8s;
          animation-delay: -30.8s;
}

.n:nth-child(78) {
  -webkit-animation-delay: -31.2s;
          animation-delay: -31.2s;
}

.n:nth-child(79) {
  -webkit-animation-delay: -31.6s;
          animation-delay: -31.6s;
}

.n:nth-child(80) {
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

.n:nth-child(81) {
  -webkit-animation-delay: -32.4s;
          animation-delay: -32.4s;
}

.n:nth-child(odd) {
  background: #70c892;
}

.n:nth-child(odd) .o {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  background: #7834af;
}

.o {
  -webkit-animation: scale 2s infinite ease-in-out;
          animation: scale 2s infinite ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  background: #73d8b7;
  border-radius: 50%;
  width: 37.5px;
  height: 37.5px;
}

@-webkit-keyframes nausea {
  50% {
    background: #d65173;
    -webkit-transform: rotate(45deg) scale(0.5);
            transform: rotate(45deg) scale(0.5);
  }
}

@keyframes nausea {
  50% {
    background: #d65173;
    -webkit-transform: rotate(45deg) scale(0.5);
            transform: rotate(45deg) scale(0.5);
  }
}

@-webkit-keyframes scale {
  50% {
    background: #f2df79;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes scale {
  50% {
    background: #f2df79;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
/*# sourceMappingURL=style.css.map */